.aside {
    margin: 1rem;
    padding: 1rem;
    background-color: #222;
    border: 1px solid #444;
    border-radius: 5px;
}


.aside h2{
    flex: 1;
    margin: 1rem;
   background-color: #222;
    border: 1px solid #444;
  
}

.aside p{
    flex: 1;
    margin: 1rem;
    background-color: #222;
    border: 1px solid #444;
    
}