
header {
    background-color: #222;
    text-align: center;
    padding: 2rem;
}
header img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 1rem; 
}

h1 {
    font-size: 2rem;
}